//- SECTION-BACKGROUND
//- ==================================
mixin section-background()
  .section-background
    
    //- FLOWER.RIGHT
    //- ==================================
    .flower.right
      img(src="img/flower.png", alt="section background image")
        
    //- FLOWER.LEFT
    //- ==================================
    .flower.left
      img(src="img/flower.png", alt="section background image")
