//- Meta
- var pageAuthor = "JavaTheme & Actionart"
- var pageDescription = "Clarissa Modern Wedding HTML Template"

//- CSS Plugins
- var bootstrapCSS = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
- var ionicons = "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
- var owlCarouselCSS = "css/owl-carousel/owl.carousel.min.css"
- var owlCarouselThemeCSS = "css/owl-carousel/owl.theme.default.min.css"
- var magnificPopupCSS = "css/magnific-popup/magnific-popup.css"

//- Custom CSS
- var mainCSS = "css/main.css"

//- Goolge Fonts
- var fontFamily1 = "https://fonts.googleapis.com/css?family=Great+Vibes"
- var fontFamily2 = "https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700,700i"

//- JS Plugins
//- - var jqueryJS = "https://code.jquery.com/jquery-3.2.1.slim.min.js"
- var jqueryJS = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
- var popperJS = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
- var bootstrapJS = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
- var owlCarouselJS = "js/owl-carousel/owl.carousel.min.js"
- var scrollToJS = "js/jquery.scrollTo/jquery.scrollTo.min.js"
- var localScrollJS = "js/jquery.localScroll/jquery.localScroll.min.js"
- var magnificPopUpJS = "js/jquery.magnific-popup/jquery.magnific-popup.min.js"

//- Customs JS
- var mainJS = "js/main.js"
//- - var countdown = "js/countdown/countdown.js"
//- - var owlCarouselCustomHomepage = "js/owl-custom-homepage.js"
//- - var countdownSetting = "js/countdown/countdown-setting.js"
