//- BANNER-BLOG
//- ==================================
section#banner-blog
  
  //- BANNER-BLOG-CONTENT
  //- ==================================
  .banner-blog-content
    
    //- BANNER-BLOG-FLOWER
    //- ==================================
    .banner-blog-flower
      //- FLOWER.LEFT
      //- ==================================
      .flower.left
        img(src="img/flower.png", alt="banner blog flower")
      //- FLOWER.RIGHT
      //- ==================================
      .flower.right
        img(src="img/flower.png", alt="banner blog flower")
    
    //- BANNER-BLOG-HEADING
    //- ==================================
    .banner-blog-heading
      // page title
      h1.text-capitalize blog post
    
    //- BANNER-BLOG-BREADCRUMB
    //- ==================================
    // breadcrumb
    .banner-blog-breadcrumb
      ul
        li: a(href="#").text-lowercase home
        li: span.dot
        li: a(href="#").text-lowercase.active blog post
            
