//- BANNER-STANDART-5
//- ==================================
section#banner-standart-5(style="background-image:url('img/banner-img.jpg')")
  .container-fluid
    
    .banner-content
      
      .banner-flower
        img(src="img/flower2.svg", alt="banner flower")
        
      .banner-sub-heading
        // this is sub heading
        h2.text-uppercase save the date
        
      .banner-date
        ul
          // wedding date
          li 02
          li: span.dot
          // wedding month
          li 03
          li: span.dot
          // wedding year
          li 17
      
      .content-bottom  
      
        .banner-heading
          // the names of the bride and the groom
          h1.text-capitalize jhon &amp; Joan
        
        .banner-detail
          // wedding location
          h3.text-capitalize st. gabriel's church
          // wedding time
          p.text-uppercase at six o'clock in the evening sacramento california
