//- BANNER-STANDART-3
//- ==================================
section#banner-standart-3(style="background-image:url('img/banner-img.jpg')")
  .container-fluid
    
    .banner-content
      
      .banner-flower
        .flower.left
          img(src="img/flower2.svg", alt="banner flower")
        .flower.right
          img(src="img/flower2.svg", alt="banner flower")
            
      .banner-sub-heading
        // this is sub heading
        h2.text-uppercase we're merried
        
      .banner-heading
        // the names of the bride and the groom
        h1.text-capitalize jhon &amp; Joan
        
      .banner-date
        ul
          // wedding date
          li 02
          li: span.dot
          // wedding month
          li 03
          li: span.dot
          // wedding year
          li 17
      .banner-detail
        // wedding location
        h3.text-capitalize st. gabriel's church
        // wedding time
        p.text-uppercase at six o'clock in the evening sacramento california
