//- BANNER-STANDART-1
//- ==================================
section#banner-standart-1(style="background-image:url('img/banner-img.jpg')")
  .container-fluid
    
    .banner-content
      .banner-sub-heading
        // this is sub heading
        h2.text-uppercase save the date
      
      .banner-heading
        .flower.left
          img(src="img/flower.svg", alt="banner flower image")
        .flower.right
          img(src="img/flower.svg", alt="banner flower image")    
          
        // the names of the bride and the groom    
        h1.text-capitalize jhon &amp; joan
        
      .banner-date
        ul
          // wedding date
          li 02
          li: span.dot
          // wedding month
          li 03
          li: span.dot
          // wedding year
          li 17
          
      .banner-detail
        // wedding location
        h3.text-capitalize st. gabriel's church
        // wedding time
        p.text-uppercase at six o'clock in the evening sacramento california
