//- BANNER-STANDART-8
//- ==================================
section#banner-standart-8(style="background-image:url('img/banner-img.jpg')")
  .container-fluid
    
    .banner-content
      .banner-flower
        .flower.left
          img(src="img/flower2.svg", alt="banner flower")
        .flower.right
          img(src="img/flower2.svg", alt="banner flower")
          
      .banner-heading
        // the names of the bride and the groom
        h1.text-capitalize jhon &amp; Joan
      .banner-sub-heading
        // this is sub heading
        h2.text-uppercase we're merried
        
      .banner-photos
        .banner-photo-icon
          img(src="img/love.svg", alt="love logo")
        .banner-photo-profile
          // photo of the bride
          img(src="img/family-img-2.jpg", alt="bride photo")
        .banner-photo-profile
          // photo of the groom
          img(src="img/family-img-3.jpg", alt="groom photo")
          
      .banner-detail
        // wedding location
        h3.text-capitalize st. gabriel's church
        // wedding time
        p.text-uppercase at six o'clock in the evening sacramento california
        
      .banner-date
        ul
          // wedding date
          li 02
          li: span.dot
          // wedding month
          li 03
          li: span.dot
          // wedding year
          li 17
