//- DEMO FOOTER SECTION
//- ==================================
section#demo-footer-section
  .container
    // the names of the bride and the groom
    h6.demo-footer-tagline.text-uppercase jhon &amp; joan
    // heading title
    h1.demo-footer-headline.text-capitalize thank you
    // tagline
    p.demo-footer-description.text-uppercase
      | don't forget to leave a comment
      |
      br
      |
      | and rate it if your like it!
