//- FOOTER-SECTION
//- ==================================
section#footer-section
  //- CONTAINER
  //- ==================================
  .container
    //- ROW
    //- ==================================
    .row
      .col-sm-12.col-lg-6.mx-auto
        
        // the names of bride and the grooms name
        h6.text-uppercase.footer-head jhon &amp; joan
        
        // footer heading
        h1.text-capitalize.footer-body thank you
        
        // footer messages
        p.text-uppercase.footer-foot see you there we hope you come
