//- NAVBAR-SECTION
//- ==================================
nav.navbar.navbar-expand-lg.fixed-top
  .container-fluid
    a.navbar-brand(href="#")
      img(src="img/clarissa-logo.svg", alt="clarissa logo")
      
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-section" aria-control="navbar-section" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
        
    .collapse.navbar-collapse#navbar-section
      ul.navbar-nav.ml-auto.d-flex.align-items-center
        li.nav-item
          a.nav-link(href="homepage-standart-1.html#welcome-section").text-uppercase welcome
        li.nav-item
          a.nav-link(href="homepage-standart-1.html#profile-section").text-uppercase brides
        li.nav-item
          a.nav-link(href="homepage-standart-1.html#bride-profile-section").text-uppercase grooms
        li.nav-item
          a.nav-link(href="homepage-standart-1.html#events-section").text-uppercase events
        li.nav-item
          a.nav-link(href="homepage-standart-1.html#testimony-section").text-uppercase testimony
        li.nav-item
          a.nav-link(href="homepage-standart-1.html#gallery-section").text-uppercase gallery
        li.nav-item
          a.nav-link(href="homepage-standart-1.html#blog-section").text-uppercase blog
        li.nav-item
          a.nav-link(href="homepage-standart-1.html#gift-section").text-uppercase gift
        li.nav-item.cta-rspv
          a.nav-link(href="homepage-standart-1.html#rspv-section").text-uppercase
            span rspv
            span now
      
