//- WELCOME-SECTION
//- ==================================
section#welcome-section
  
  +section-background()
        
  .container
    
    .row.justify-content-center
      
      +section-header('the special day', 'welcome')
        
    .row.justify-content-center
      
      .section-body.col-sm-8
        // welcome message
        p.text-center My fiancé proposed on the Fourth of July. My mother asked us to go to the backyard to get some chairs and he took me by the shed where we could see all of the fireworks. He kissed me, then he took the ring box out of his pocket and asked me to be his wife. He was shaking a little. The proposal was a little silly but perfect, just like him."
          |
          |
          span — Jeska Cords
