extend base/layout

append meta
  title Homepage Standart 5 - Clarissa Modern Wedding HTML Template
  
append header
  
  // NAVBAR SECTION
  include sections/navbar-section
  
  // BANNER SECTION
  include sections/banner-standart-5
  
append footer
  
  // FOOTER SECTION
  include sections/footer-section
  
  // SOUNDCLOUD PLAYER
  include modules/soundcloud-player
  
append main
  
  // WELCOME SECTION  
  include sections/welcome-section
  
  // BRIDE PROFILE SECTION
  include sections/bride-profile-section
  
  // BRIDE FAMILY SECTION
  include sections/family-section
  
  // GROOM PROFILE SECTION
  include sections/groom-profile-section
  
  // GROOM FAMILY SECTION
  include sections/family-section
  
  // EVENTS SECTION
  include sections/events-section
  
  // TESTIMONY SECTION
  include sections/testimony-section
  
  // GALLERY SECTION
  include sections/gallery-section
  
  // BLOG SECTION
  include sections/blog-section
  
  // GIFT SECTION
  include sections/gift-section
  
  // RSPV SECTION
  include sections/rspv-section
